{% extends 'layout.html' %}

{% block content %}
<h1>Контакты</h1>


<p>
ctel-herzen@yandex.ru

 </p>
<p>
Санкт-Петербург, наб. реки Мойки, 48, корпус 1, аудитория 329
</p>
<p>
 
+7 (812) 643-77-67
</p>


{% endblock %}