<div class="header">


    <ul class="topnav"> 
        <li>
            <a href="/">Главная</a>
        </li>
        <li>
            <a href="/courses">Образовательная программа</a>
        </li>
        <li>
            <a href="/teachers">Сотрудники</a>
        </li>
        <li>
            <a href="/contacts">Контакты</a>
        </li>
        <li>
            <a href="/post">Оставить отзыв</a>
        </li>
        <li>
            <a href="/guestbook">Отзывы</a>
        </li>
    </ul>

</div>
